<div class="image__form">
    {% if widget.is_initial %}
    <img class="recipe__image-update" src="{{ widget.value.url }}" alt="{{ widget.value }}">
    {% if not widget.required %}
    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %} disabled {% endif %}>
    <label class="col-form-label mt-1" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    {% endif %}
    <label class="col-form-label mt-1">{{ widget.input_text }}:
    </label>
    {% endif %}
    <input type="{{ widget.type }}" name="{{ widget.name }}" {% include 'django/forms/widgets/attrs.html' %}>
</div>