:root {
    --mint: #78c2ad;
    --yellow: #ffce67;
    --dark-green: #5a9282;
    --light-gray: #eceeef;
}

html {
    /*font-family: 'MontserratT';*/
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-container {
    height: 90px;
}

.user__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 20px;
    position: relative;
}

.user__wrapp img {
    position: absolute;
    right: -18px;
    bottom: -6px;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

.add-recipe__btn {
    margin-right: 40px;
}

.navbar-toggler-icon {
    background-image: url("../img/menu.svg");
    width: 35px;
    height: 30px;
}

.navbar-toggler {
    border-color: var(--yellow);
    border-width: 4px;
}

.navbar-toggler:focus {
  box-shadow: 0 0;
}

.offcanvas-title {
    color: var(--dark-green);
}

.nav-link {
    font-size: 19px;
    font-weight: 500;
}

.nav-item a:link {
    color: var(--dark-green);
}

.nav-item a:visited {
    color: var(--dark-green);
}

.nav-item a:hover {
    color: var(--dark-green);
    font: bold;
}

.dropdown-menu {
    --bs-dropdown-border-color: #ffffff;
}

.dropdown-item {
    font-size: 19px;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: var(--yellow);
}

.form-control {
    width: 20rem;
}

.main-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: var(--light-gray);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    background-color: var(--mint);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.footer__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__title p {
    margin: 0 auto;
    color: var(--light-gray);
}

.footer__icons-box {
    display: inline-flex;
    justify-content: space-between;
}

.icons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 30px;
}

.icons__item:last-child {
    margin-right: 0px;
}

.form-select option {
    -webkit-appearance: none !important;
     background-color: var(--yellow) !important;
}


.alert-light {
    background: #ffe7b3;
    border-color: #ffdf9a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.recipes__wrapp {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

.recipe-title__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipes__title {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes__title hr {
    margin: 20px 0 20px 0;
    width: 90%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.recipes__title h3 {
    color: var(--dark-green);
    font-size: 35px;
}

.recipe__wrapp {
    display: block;
    width: calc(100% / 3);
    padding: 20px;
}

.recipe__wrapp a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.recipe__info p {
    color: var(--dark-green);
    font-size: 20px;
}

.list-title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-title hr {
    margin: 20px 0 20px 0;
    width: 90%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.recipes__card {
    width: 100%;
    height: 14rem;
    border: 0;
    background: #2F4F4F;
    z-index: 2;
}

.recipes__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.7;
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 3;
    color: white;
    font-size: 20px;
    position: relative;
}

.card-rating {
    position: absolute;
    left: 18px;
    top: 18px;
}

.card-body img {
    width: 30px;
    height: 25px;
    opacity: 1;
    position: absolute;
    right: 16px;
    bottom: 178px;
}

.card-text {
    color: white;
}

.last-card img {
    opacity: 0.2;
}

.last-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-list__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    width: 95%;
}

.recipe-list__add_recipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.goods-title hr {
    margin: 20px 0 20px 0;
    width: 95%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.title__wrapp {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.goods__title h3 {
    color: var(--dark-green);
}

.goods__wrapp ul li {
    color: var(--dark-green);
    font-size: 18px;
}

legend h3 {
    padding-top: 25px;
    color: var(--dark-green);
}

.form-container {
    width: 60%;
}

.form-container hr {
    margin: 40px 0 0 0;
    width: 100%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.form-title {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title h3 {
    color: var(--dark-green);
}

.form-control {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    color: var(--dark-green);
    font-size: 18px;
}

.col-form-label {
    color: var(--dark-green);
    font-size: 18px;
}

.btn-outline-primary {
    background-color: white;
    border: none;
}

.image__form {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.recipe__image-update {
    width: 30rem;
    height: 15.7rem;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.col-form-label h3 {
    color: var(--dark-green);
    margin-bottom: 0.7rem;
}

.ingredient-form {
    margin-bottom: 2rem;
}

.ingredient-form label {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.my-class-select {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--dark-green);
}

.alert {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    min-width: 2.3rem;
}

.alert h3 {
    margin: 0 auto;
    color: white;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #888;
}

.one-recipe__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one-recipe__container hr {
    margin: 40px 0 0 0;
    width: 100%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.one-recipe__container h1, h2, h3, h5, h6 {
    color: var(--dark-green);
}

.one-recipe__title {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-recipe__title h2 {
    font-size: 35px;
}

.one-recipe__info-about {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--dark-green);
}

.info-about p {
    margin: 0 10px;
}

.one-recipe__image {
    width: 45rem;
    height: 27.5rem;
    margin: 40px 0;
    min-width: 30rem;
}

.one-recipe__image img {
    width: 100%;
    height: 100%;
    object-position: 0 0;
    border-radius: 0.5rem;
}

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.star-rating__wrapp {
    display: flex;
}

.star-wrapp, .star-wrapp__last {
    width: 25px;
    height: 25px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.star-wrapp .fa-star, .star-wrapp__last .fa-star {
    font-size: 15px;
}

.comment-rating .star-wrapp, .comment-rating .star-wrapp__last {
    width: 17px;
    height: 17px;
    border-radius: 0.2rem;
}

.comment-rating .fa-star {
    font-size: 10px;
}

.star-wrapp {
    background-color: var(--yellow);
}

.star-wrapp .checked {
    color: white;
}

.star-wrapp__last {
    background-color: #d8d8d8;
}

#rating-ability-wrapper .btn-default {
    background-color: #d8d8d8;
}

#rating-ability-wrapper .btn-default .fa-star {
    color: #888;
}

.remove-button, .add-button {
    border: none;
    width: 44px;
    height: 36px;
}

.remove-button {
    background: url("../img/bookmark.svg");
}

.add-button {
    background: url("../img/bookmark-add.svg") no-repeat;
}

.one-recipe__wrapp, .comments__wrapp {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 0.5rem;
}

.one-recipe__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.one-recipe__author p, .one-recipe__author h5 {
    margin: 0 20px 0 0;
    font-size: 20px;
}

.one-recipe__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.one-recipe__info span {
    display: inline-block;
}

.ingredient-line {
    flex-grow: 1;
    margin: 0 10px;
    height: 12px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.ingredient {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 100%;
}

.description-title {
    margin-top: 30px;
}

.one-recipe__description {
    margin-bottom: 15px;
}

.comment-form {
    border: 2px solid rgb(217, 217, 217);
    border-radius: 0.4rem;
    width: 70%;
    padding: 20px;
    margin: 15px 0;
    background-color: #ffffff;
}

.comments-title {
    margin: 0 0 10px 0;
}

.comment__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.comment__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment__title img, h6 {
    margin-bottom: 0;
    margin-right: 20px;
}

.comment__title img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 40px;
}

.comment__title-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment__title-info h6 {
    font-size: 17px;
    margin-bottom: 2px;
}

.comment__title-info span {
    margin-bottom: 2px;
    font-size: 13px;
}

.comment {
    margin: 5px 0;
    font-size: 22px;
}

.control-label {
    margin-bottom: 15px;
}

.buttons-wrapp {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.buttons-wrapp .recipe-button {
    margin-right: 1rem;
}

.pagination {
    margin-top: 10px;
}

.page-link:hover {
    border-color: var(--yellow);
    background-color: var(--yellow);
}

.page-link:focus {
  color: var(--yellow);
  background-color: var(--yellow);
  box-shadow: var(--yellow);
}

.page-link.active, .active > .page-link {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.modal-content {
    color: var(--dark-green);
}

.modal-header h5 {
    color: var(--dark-green);
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile__container hr {
    margin: 20px 0 20px 0;
    width: 90%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.profile__wrapp {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__image-update, .profile__image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 8rem;
    margin-bottom: 1.5rem;
}

.profile__header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wrapp__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.wrapp__left-side .btn {
    margin-top: 20px;
}

.wrapp__right-side {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__info {
    margin: 20px 15px 15px 15px;
}

.nav-pills .nav-item {
    margin: 0 20px 0 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--yellow);
}

#myTabContent {
    width: 100%;
}

.tab-content > .active {
    display: flex;
    flex-wrap: wrap;
}

.tab-pane {
    margin-top: 30px;
}

#profile {
    justify-content: center;
}

.accordion-button {
    color: var(--dark-green);
    font-size: 22px;
}

.checked {
  color: orange;
}

.breadcrumb-wrapp {
    margin: 30px 0 0 0;
    min-width: 40%;
}

.breadcrumb-wrapp ol {
    margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/");
}

.errorlist {
    padding-left: 0;
}

.errorlist li {
    color: #ff7851;
    font-size: 16px;
    list-style-type: none;
}

.is-invalid+.select2-container--bootstrap-5 .select2-selection,
 .was-validated select:invalid+.select2-container--bootstrap-5 .select2-selection {
    border-color: #ff7851;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: #888;
}



