@import 'static/css/base.css'

.container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.recipes__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-title__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipes__title {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes__title hr {
    margin: 20px 0 20px 0;
    width: 90%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.recipes__title h3 {
    color: var(--dark-green);
    font-size: 35px;
}

.recipe__wrapp {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.recipe__info p {
    color: var(--dark-green);
    font-size: 20px;
}

.list-title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-title hr {
    margin: 20px 0 20px 0;
    width: 90%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.recipes__card {
    margin: 20px;
    width: 23rem;
    height: 14rem;
    border: 0;
    background: #2F4F4F;
    z-index: 2;
}

.recipes__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.7;
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 3;
    color: white;
    font-size: 20px;
    position: relative;
}

.card-body img {
    width: 25px;
    height: 29px;
    opacity: 1;
    position: absolute;
    right: 11px;
    bottom: 181px;
}

.card-text {
    color: white;
}

.last-card img {
    opacity: 0.2;
}

.last-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-list__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    width: 95%;
}

.recipe-list__add_recipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.goods-title hr {
    margin: 20px 0 20px 0;
    width: 95%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.title__wrapp {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.goods__title h3 {
    color: var(--dark-green);
}

.goods__wrapp ul li {
    color: var(--dark-green);
    font-size: 18px;
}

legend h3 {
    padding-top: 25px;
    color: var(--dark-green);
}

.form-container {
    width: 60%;
}

.form-container hr {
    margin: 40px 0 0 0;
    width: 100%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.form-title {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title h3 {
    color: var(--dark-green);
}

.form-control {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    color: var(--dark-green);
    font-size: 18px;
}

.col-form-label {
    color: var(--dark-green);
    font-size: 18px;
}

.btn-outline-primary {
    background-color: white;
    border: none;
}

.image__form {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.recipe__image-update {
    width: 30rem;
    height: 15.7rem;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.col-form-label h3 {
    color: var(--dark-green);
    margin-bottom: 0.7rem;
}

.ingredient-form {
    margin-bottom: 2rem;
}

.ingredient-form label {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.my-class-select {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--dark-green);
}

.alert {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    min-width: 2.3rem;
}

.alert h3 {
    margin: 0 auto;
    color: white;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #888;
}

.one-recipe__container {
    width: 70%;
}

.one-recipe__container h5, h2, h6 {
    color: var(--dark-green);
}

.one-recipe__top-wrapp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.one-recipe__bottom-wrapp {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}

.one-recipe__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-recipe__title h2 {
    font-size: 35px;
}

.one-recipe__image {
    width: 30rem;
    height: 18.3rem;
    margin: 20px 0;
    min-width: 30rem;
}

.one-recipe__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 0.5rem;
}

.one-recipe__side-wrapp {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.one-recipe__info {
    display: inline-block;
    margin-bottom: 1rem;
}

.one-recipe__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.one-recipe__descr p {
    margin-left: 1rem;
}

.buttons-wrapp {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.buttons-wrapp .recipe-button {
    margin-right: 1rem;
}

.pagination {
    margin-top: 10px;
}

.page-link:hover {
    border-color: var(--yellow);
    background-color: var(--yellow);
}

.page-link:focus {
  color: var(--yellow);
  background-color: var(--yellow);
  box-shadow: var(--yellow);
}

.page-link.active, .active > .page-link {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.modal-content {
    color: var(--dark-green);
}

.modal-header h5 {
    color: var(--dark-green);
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile__container hr {
    margin: 20px 0 20px 0;
    width: 90%;
    color: var(--dark-green);
    border-width: 4px;
    opacity: 0.7;
}

.profile__wrapp {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__image-update, .profile__image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 8rem;
    margin-bottom: 1.5rem;
}

.profile__header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wrapp__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.wrapp__left-side .btn {
    margin-top: 20px;
}

.wrapp__right-side {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__info {
    margin: 20px 15px 15px 15px;
}

.nav-pills .nav-item {
    margin: 0 20px 0 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--yellow);
}

.my-recipes__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accordion-button {
    color: var(--dark-green);
    font-size: 22px;
}

.comment__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment__title img, h6 {
    margin-bottom: 0;
    margin-right: 20px;
}


.comment__title img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.checked {
  color: orange;
}

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.star-rating__wrapp {
    display: flex;
}

.star-wrapp, .star-wrapp__last {
    width: 27px;
    height: 27px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.star-wrapp {
    background-color: var(--yellow);
}

.star-wrapp .checked {
    color: white;
}

.star-wrapp__last {
    background-color: #d8d8d8;
}

#rating-ability-wrapper .btn-default {
    background-color: #d8d8d8;
}

#rating-ability-wrapper .btn-default .fa-star {
    color: #888;
}

.remove-button, .add-button {
    border: none;
    width: 35px;
    height: 41px;
}

.remove-button {
    background: url("../img/bookmark.png");
}

.add-button {
    background: url("../img/bookmark-add.png") no-repeat;
}





