@import 'static/css/base.css'

.container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.recipes__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-title__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipes__title {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.recipes__title h3 {
    color: var(--dark-green);
}

.recipe__wrapp {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.recipe__info {
    display:flex;
}

.recipe__info p {
    color: var(--dark-green);
    font-size: 20px;
}

.recipes__card {
    margin: 20px;
    width: 23rem;
    height: 14rem;
    border: 0;
    background: #2F4F4F;
    z-index: 2;
}

.recipes__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.7;
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 3;
    color: white;
    font-size: 20px;
}

.card-text {
    color: white;
}

.last-card img {
    opacity: 0.2;
}

.last-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-list__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.recipe-list__add_recipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__wrapp {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods__title h3 {
    color: var(--dark-green);
}

.goods__wrapp ul li {
    color: var(--dark-green);
    font-size: 20px;
}

legend h3 {
    padding-top: 25px;
    color: var(--dark-green);
}

.form-container {
    width: 60%;
}

.form-control {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    color: var(--dark-green);
    font-size: 18px;
}

.col-form-label {
    color: var(--dark-green);
    font-size: 18px;
}

.delete-card {
    margin: 40px;
}

.delete-card__body {
    background-color: var(--yellow);
}

.btn-outline-primary {
    background-color: white;
    border: none;
}

.image__form {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.recipe__image-update {
    width: 30rem;
    height: 15.7rem;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.col-form-label h3 {
    color: var(--dark-green);
    margin-bottom: 0.7rem;
}

.ingredient-form {
    margin-bottom: 2rem;
}

.ingredient-form label {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.my-class-select {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--dark-green);
}

.alert {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    min-width: 2.3rem;
}

.alert h3 {
    margin: 0 auto;
    color: white;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    border-color: var(--mint);
    box-shadow: 0 0 0 0.25rem rgba(120, 194, 173, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #888;
}

.one-recipe__container {
    width: 70%;
}

.one-recipe__container h5, h2, h6, p {
    color: var(--dark-green);
}

.one-recipe__top-wrapp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.one-recipe__bottom-wrapp {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}

.one-recipe__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-recipe__title h2 {
    font-family: 'Shantell Sans Regular', cursive;
}

.one-recipe__image {
    width: 30rem;
    height: 15.7rem;
    margin: 20px 50px 20px 20px;
    min-width: 30rem;
}

.one-recipe__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 0.5rem;
}

.one-recipe__side-wrapp {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.one-recipe__info {
    display: inline-block;
    margin-bottom: 1rem;
}

.one-recipe__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.one-recipe__descr p {
    margin-left: 1rem;
}

.buttons-wrapp {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.buttons-wrapp .recipe-button {
    margin-right: 1rem;
}
