{% extends 'base.html' %}
{% load static %}

{% block title %}Добавить рецепт{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    {{ recipe_form.management_form }}
    {{ recipe_form.non_form_erros }}

    {% for field in recipe_form %}
    {% if field == 'image' %}
    <div class="form-style">
        <p>время приготовления(часов):
            <input type="number" name="time_in_hours">
        </p>
        <p>время приготовления(минут):
            <input type="number" name="time_in_minutes">
        </p>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% else %}
    <div class="form-style {% if field.errors %} errors {% endif %}">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endif %}
    {% endfor %}

    <div>
        <h3>Ингредиенты:</h3>
        <div id="form-container">
            {{ formset.management_form }}
            {{ formset.non_form_erros }}
            {% for form in formset %}
            <div class="form-style {% if forms.errors %} errors {% endif %}">
                <div class="ingredient-form">
                    {{ form.errors }}
                    {{ form.as_p }}
                </div>
            </div>
            {% endfor %}
            <button id="add-form" type="button">Добавить еще один ингредиент</button>
        </div>
    </div>
    <button type="submit">Отправить</button>
</form>
<h3>
    <a href="{% url 'home' %}">
        Вернуться на главную страницу
    </a>
</h3>
<h3>
    <a href="{% url 'recipes' %}">
        Вернуться на страницу с рецептами
    </a>
</h3>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>

        $(document).ready(function () {
            $('#id_ingredient_set-0-ingredient').select2();
        });

        let ingredientForm = document.querySelectorAll(".ingredient-form")
        let ingredientFormTemplate = document.querySelectorAll(".ingredient-form")[0].cloneNode(true)
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_ingredient_set-TOTAL_FORMS")

        let formNum = ingredientForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = ingredientFormTemplate.cloneNode(true)
            let formRegex = RegExp(`ingredient_set-(\\d){1}-`, 'g')

            formNum++

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `ingredient_set-${formNum}-`)

            container.insertBefore(newForm, addButton)
            totalForms.setAttribute('value', `${formNum + 1}`)

            $('#id_ingredient_set-' + formNum + '-ingredient').select2();
        }




</script>


{% endblock %}