{% extends 'yummy/base.html' %}

{% block title %}Добавить продукт{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Отправить</button>
    </form>
    <h3>
        <a href="{% url 'home' %}">
            Вернуться на главную страницу
        </a>
    </h3>
    <h3>
        <a href="{% url 'goods' %}">
            Вернуться на страницу с ингредиентами
        </a>
    </h3>


{% endblock %}