{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}

{% block title %}Добавить рецепт{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ recipe_form.management_form }}
    {{ recipe_form.non_form_erros }}

    {% for field in recipe_form %}
    <div class="form-group">
        <label class="col-form-label mt-4">{{ field.label_tag }}</label>
        {{ field.errors }}
        {{ field }}
    </div>
    {% endfor %}

    <fieldset>
        <h3>Ингредиенты:</h3>
        <div class="form-group" id="form-container">
            {{ formset.management_form }}
            {{ formset.non_form_erros }}
            {% for form in formset %}
            <div class="form-style">
                <div class="form-group ingredient-form">
                    {{ form.errors }}
                    {{ form.as_p }}
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-primary" id="add-form" type="button">Добавить еще один ингредиент</button>
        </div>
    </fieldset>
    <button class="btn btn-primary" type="submit">Отправить</button>
</form>

<script>

        $(document).ready(function () {
            $('#id_ingredient_set-0-ingredient').select2({
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            });
        });

        let ingredientForm = document.querySelectorAll(".ingredient-form")
        let ingredientFormTemplate = document.querySelectorAll(".ingredient-form")[0].cloneNode(true)
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_ingredient_set-TOTAL_FORMS")

        let formNum = ingredientForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = ingredientFormTemplate.cloneNode(true)
            let formRegex = RegExp(`ingredient_set-(\\d){1}-`, 'g')

            formNum++

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `ingredient_set-${formNum}-`)

            container.insertBefore(newForm, addButton)
            totalForms.setAttribute('value', `${formNum + 1}`)

            $('#id_ingredient_set-' + formNum + '-ingredient').select2({
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            });
        }


</script>

{% endblock %}