{% extends 'base.html' %}

{% block title %}Удалить рецепт {{ object.name }}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Вы уверены что вы хотите удалить {{ object }}?</p>
        {{ form }}
        <button type="submit" value="Confirm">Удалить</button>
    </form>
    <h3>
        <a href="{% url 'home' %}">
            Вернуться на главную страницу
        </a>
    </h3>
    <h3>
        <a href="{% url 'recipes' %}">
            Вернуться на страницу с рецептами
        </a>
    </h3>


{% endblock %}