{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="card delete-card">
    <div class="card-body delete-card__body">
        <form method="post">
            {% csrf_token %}
            <h4 class="card-title">Удаление</h4>
            <p class="card-text">Вы уверены что вы хотите удалить рецепт: <br>{{ object }} ?</p>
            <button type="submit" class="btn btn-outline-primary" value="Confirm"><b>Удалить</b></button>
        </form>
    </div>
</div>

{% endblock %}