{% extends 'base.html' %}

{% block title %}Продукты{% endblock %}

{% block content %}
    <h3>
        <a href="{% url 'home' %}">
            Вернуться на главную страницу
        </a>
    </h3>
    <h3>
        <a href="{% url 'goods' %}">
            Вернуться на страницу с ингредиентами
        </a>
    </h3>

    <div>
        <a href="{% url 'add_product' %}">
            Добавить продукт
        </a>
    </div>
    <h2>Продукты</h2>
    <ul>
        {% for product in goods %}
            <li>
                <a href="{{ product.get_url }}">
                    {{ product }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}