{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="breadcrumb-wrapp">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active">{{ title | capfirst }}</li>
    </ol>
</div>

<div class="content__goods container">
    <div class="goods-title">
        <hr>
        <div class="title__wrapp">
            <div class="goods__title">
                <h3><strong>Продукты, используемые в рецептах:</strong></h3>
            </div>
            {% if request.user.is_staff %}
            <div class="goods__add_goods">
                <a class="btn btn-warning" href="{% url 'add_product' %}">Добавить продукт</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="goods__wrapp">
        <div class="accordion" id="accordionExample">
            {% for type, products in goods.items %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ type.0 | cut:' ' }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ type.0 | cut:' ' }}" aria-expanded="false"
                            aria-controls="collapse{{ type.0 | cut:' ' }}">
                        {{ type.1 }}
                    </button>
                </h2>
                <div id="collapse{{ type.0 | cut:' ' }}" class="accordion-collapse collapse"
                     aria-labelledby="{{ type.0 | cut:' ' }}"
                     data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <ul>
                            {% for item in products.values %}
                            <li>
                                {% if request.user.is_staff %}
                                <a href="{% url 'update_product' item.id %}">
                                    {{ item.name | capfirst }}
                                </a>
                                {% else %}
                                {{ item.name | capfirst }}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
