{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content__recipes container">
    <div class="recipes__title">
        <hr>
        <h3><strong>Рецепты</strong></h3>
    </div>
    <div class="recipes__wrapp">
        {% for item in recipes %}
        <div class="recipe__wrapp">
            <a href="{{ item.get_absolute_url }}">
                <div class="card recipes__card">
                    <img src='{{ item.image.url }}' class="card-img-top" alt="recipe">
                    <div class="card-body">
                        <h4 class="card-text">{{ item | capfirst }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="recipe__wrapp">
            <div class="card recipes__card last-card">
                <img src="{% static 'img/food.jpeg' %}" class="card-img-top" alt="recipe">
                <div class="card-body">
                    <a href="{% url 'recipes' %}" class="btn btn-lg btn-primary"><strong>Все рецепты</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content__cuisines container">
    <div class="recipes__title">
        <hr>
        <h3><strong>Кухни мира</strong></h3>
    </div>
    <div class="recipes__wrapp">
        {% for cuisine, c_img in cuisines.items %}
        <div class="recipe__wrapp">
            <a href="{% url 'cus_recipes' cuisine.name %}">
                <div class="card recipes__card">
                    <img src={{ c_img }} class="card-img-top" alt="recipe">
                    <div class="card-body">
                        <h4 class="card-text">{{ cuisine }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="recipe__wrapp">
            <div class="card recipes__card last-card">
                <img src="{% static 'img/food.jpeg' %}" class="card-img-top" alt="recipe">
                <div class="card-body">
                    <a href="{% url 'cuisines' %}" class="btn btn-lg btn-primary"><strong>Все кухни</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content__departments container">
    <div class="recipes__title">
        <hr>
        <h3><strong>Виды блюд</strong></h3>
    </div>
    <div class="recipes__wrapp">
        {% for department, d_img in departments.items %}
        <div class="recipe__wrapp">
            <a href="{% url 'dep_recipes' department.name %}">
                <div class="card recipes__card">
                    <img src={{ d_img }} class="card-img-top" alt="recipe">
                    <div class="card-body">
                        <h4 class="card-text">{{ department }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="recipe__wrapp">
            <div class="card recipes__card last-card">
                <img src="{% static 'img/food.jpeg' %}" class="card-img-top" alt="recipe">
                <div class="card-body">
                    <a href="{% url 'departments' %}" class="btn btn-lg btn-primary"><strong>Все виды блюд</strong></a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}