{% extends 'yummy/base.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'recipes' %}">
            Рецепты:
        </a>
    </div>
    <div>
        <ul>
            {% for item in homepage_recipes %}
                <li>
                    <a href="{{ item.get_absolute_url }}">
                        {{ item }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        <a href="{% url 'goods' %}">
            Ингредиенты
        </a>
    </div>

{% endblock %}