{% extends 'yummy/base.html' %}

{% block title %}Информация о продукте: {{ product }}{% endblock %}

{% block content %}

    <h2>Название продукта - {{ product.name }}</h2>
    <h3>Тип продукта - {{ product.type }}</h3>
    <div><a href="{% url 'update_product' product.pk %}">
            Редактировать продукт
        </a>
    </div>
    <div><a href="{% url 'delete_product' product.pk %}">
            Удалить продукт
        </a>
    </div>
    <h4>
        <a href="{% url 'home' %}">
            Вернуться на главную страницу
        </a>
    </h4>
    <h4>
        <a href="{% url 'goods' %}">
            Вернуться на страницу с ингредиентами
        </a>
    </h4>
{% endblock %}