{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<hr>
<div class="one-recipe__container container">
    <div class="one-recipe__top-wrapp">
        <div class="one-recipe__image">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
        </div>
        <div class="one-recipe__title">
            <h2>{{ recipe.name | capfirst }}</h2>
        </div>
    </div>
    <div class="one-recipe__bottom-wrapp">
        <div class="one-recipe__side-wrapp">
            <div class="one-recipe__info">
                <h5><b>Ингредиенты:</b></h5>
                <ol>
                    {% for ingredient in ingredients %}
                    <li>
                        {{ ingredient.ingredient.name | capfirst }} - {{ ingredient.quantity }}
                        {{ ingredient.quantity_type }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="one-recipe__info">
                <h6><b>Тип блюда:</b></h6>
                {{ recipe.department }}
            </div>
            {% if recipe.cuisine %}
            <div class="one-recipe__info">
                <h6><b>Кухня:</b></h6>
                {{ recipe.cuisine }}
            </div>
            {% endif %}
            <div class="one-recipe__info">
                <h6><b>Время приготовления:</b></h6>
                {% if time_in_hours %}
                {{ time_in_hours }} ч.
                {% endif %}
                {% if time_in_minutes %}
                {{ time_in_minutes }} мин.
                {% endif %}
            </div>
            <div class="one-recipe__info">
                <h6><b>Автор рецепта:</b></h6>
                {{ recipe.author }}
            </div>
            <div class="one-recipe__info">
                <h6><b>Дата добавления:</b></h6>
                {{ recipe.date|date:'d.m.Y' }}
            </div>
            {% if request.user.is_authenticated and request.user.profile == recipe.author or request.user.is_staff %}
            <div class="buttons-wrapp">
                <a class="btn btn-primary recipe-button"
                   href="{% url 'update_recipe' recipe.pk %}?next={{ request.path }}">
                    Изменить рецепт</a>
                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal" href='#'>
                    Удалить
                </a>
            </div>
            {% endif %}
        </div>
        <div class="one-recipe__descr">
            <h5><b>Описание приготовления:</b></h5>
            <p>{{ recipe.description }}</p>
        </div>
    </div>
    {% if request.user.is_authenticated and req%}
    {% if comment_form %}
    <form id='add_form' method="post">
        {% csrf_token %}

        {{ comment_form.management_form }}
        {{ comment_form.non_form_errors }}
        {% for field in comment_form %}
        <div class="form-group">
            <label class="col-form-label mt-1">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>
    {% endif %}
    {% endif %}
    {% for comment in comments %}
    <div class="comment__info">
        <div class="comment__title">
            <img src="{{ comment.comment_author.photo.url }}" alt="{{ comment.comment_author }}">
            <h6><strong>{{ comment.comment_author }}</strong>  {{ comment.date }}:</h6>
        </div>
        <p>{{ comment.rating }}</p>
        <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}