{% extends 'yummy/base.html' %}

{% block title %}Добавить рецепт{% endblock %}

{% block content %}
    <div>Название рецепта: {{ recipe_name }}</div>
    <h2>Рецепт успешно добавлен!</h2>
    <h3>
        <a href="{% url 'home' %}">
            Вернуться на главную страницу
        </a>
    </h3>
    <h4>
        <a href="{% url 'recipes' %}">
            Вернуться к рецептам
        </a>
    </h4>
    <h4>
        <a href="{% url 'add_recipe' %}">
            Добавить еще один рецепт
        </a>
    </h4>
{% endblock %}