{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="breadcrumb-wrapp">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</div>

<div class="recipe-list container">
    <div class="list-title">
        <hr>
        <div class="recipe-list__wrapp">
            <div class="recipes__title">
                <h3><strong>Список рецептов:</strong></h3>
            </div>
        </div>
    </div>
    <div class="recipes__wrapp">
        {% for item in all_recipes %}
        <div class="recipe__wrapp">
            <a href="{{ item.recipe.get_absolute_url }}">
                <div class="card recipes__card">
                    <img src='{{ item.recipe.image.url }}' class="card-img-top" alt="recipe">
                    <div class="card-body">
                        <h5 class="card-text">{{ item.recipe | capfirst }}</h5>
                        {% if request.user.profile in item.recipe.liked_by.all %}
                        <img src="{% static 'yummy/img/bookmark-small.svg' %}">
                        {% endif %}
                        <div class="star-rating__wrapp comment-rating card-rating">
                            {% if item.rating %}
                            {% for i in const_rating %}
                            {% if i <= item.rating %}
                            <div class="star-wrapp">
                                <span class="fa fa-star checked"></span>
                            </div>
                            {% endif %}
                            {% empty %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</div>

{% if is_paginated %}
<div class="pagination">
    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}


{% endblock %}

