{% extends 'base.html' %}

{% block title %}Рецепты{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'add_recipe' %}">Добавить рецепт</a>
    </div>
    <h2>Список рецептов</h2>
    <ul>
        {% for recipe in all_recipes %}
            <li>
                <a href="{% url 'recipe-details' recipe.slug %}">
                    {{ recipe }}
                </a> |
                <a href="{% url 'update_recipe' recipe.pk %}">Изменить рецепт</a> |
                <a href="{% url 'delete_recipe' recipe.pk %}">Удалить рецепт</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}