{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h3>{{ message }}</h3>
</div>
{% endfor %}
{% endif %}

<div class="recipe-list container">
    <div class="recipe-list__wrapp">
        <div class="recipes__title">
            <h3>Список рецептов:</h3>
        </div>
        <div class="recipe-list__add_recipe">
            <a class="btn btn-warning" href="{% url 'add_recipe' %}"><b>Добавить рецепт</b></a>
        </div>
    </div>
    <div class="recipes__wrapp">
        {% for recipe in all_recipes %}
        <div class="recipe__wrapp" style="margin-bottom: 25px;">
            <a href="{{ recipe.get_absolute_url }}">
                <div class="card recipes__card" style="margin-bottom: 10px;">
                    <img src='{{ recipe.image.url }}' class="card-img-top" alt="recipe">
                    <div class="card-body">
                        <h5 class="card-text">{{ recipe }}</h5>
                    </div>
                </div>
            </a>
            <div class="d-flex flex-row justify-content-around">
                <a class="btn btn-primary btn-sm" href="{% url 'update_recipe' recipe.pk %}">Изменить рецепт</a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete_recipe' recipe.pk %}">Удалить</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
