{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<form method="post">
    <fieldset>
        <legend>
            <h3>Редактировать продукт: {{ title }}</h3>
        </legend>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label class="col-form-label mt-4">{{ field.label_tag }}</label>
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" value="Update" style="margin-right: 10px;">Изменить</button>
        <a class="btn btn-danger" href="{% url 'delete_product' object.id %}">Удалить</a>
    </fieldset>
</form>
{% endblock %}
