{% extends 'base.html' %}
{% load static %}
{% load new_tags %}

{% block title %}Изменить рецепт{% endblock %}

{% block content %}
<div class="breadcrumb-wrapp">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
        <li class="breadcrumb-item"><a href="{% url 'recipes' %}">Рецепты</a></li>
        <li class="breadcrumb-item active">Изменить рецепт</li>
    </ol>
</div>

<div class="form-container container">

    <hr>
    <div class="form-title">
        <h3><strong>Изменение рецепта</strong></h3>
    </div>

    <form class="needs-validation" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ recipe_form.management_form }}
        {{ recipe_form.non_field_errors }}

        {% for field in recipe_form %}
        <div class="form-group">
            <label class="col-form-label mt-1">{{ field.label_tag }}</label>
            {% if field.errors %}
            {{ field | add_attr:'is-invalid' }}
            {% else %}
            {{ field }}
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}

        <fieldset>
            <label class="col-form-label mt-1">
                <h3>Ингредиенты:</h3>
            </label>
            <div class="form-group" id="form-container">
                {{ formset.management_form }}
                {{ formset.non_form_errors }}
                {% for form in formset %}
                <div class="ingredient-form">
                    {{ form.id.as_hidden }}
                    <div class="form-group">
                        <label class="col-form-label pt-0 pb-0">{{ form.ingredient.label_tag }}</label>
                        {% if form.ingredient.errors %}
                        {{ form.ingredient | add_attr:'is-invalid' }}
                        {% else %}
                        {{ form.ingredient }}
                        {% endif %}
                        {{ form.ingredient.errors }}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label pt-0 pb-0">{{ form.quantity.label_tag }}</label>
                        {% if form.quantity.errors %}
                        {{ form.quantity | add_attr:'is-invalid' }}
                        {% else %}
                        {{ form.quantity }}
                        {% endif %}
                        {{ form.quantity.errors }}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label pt-0 pb-0">{{ form.quantity_type.label_tag }}</label>
                        {% if form.quantity_type.errors %}
                        {{ form.quantity_type | add_attr:'is-invalid' }}
                        {% else %}
                        {{ form.quantity_type }}
                        {% endif %}
                        {{ form.quantity_type.errors }}
                    </div>
                    <div>
                        <label class="col-form-label pt-0 pb-0">{{ form.DELETE.label_tag }}</label>
                        {{ form.DELETE }}
                    </div>
                </div>
                {% endfor %}
                <button class="btn btn-primary" id="add-form" type="button">Добавить еще один ингредиент</button>
            </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Отправить</button>
        <div style="margin-top: 18px;">
            <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal" href='#'>Удалить рецепт</a>
        </div>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
        let ingredientForm = document.querySelectorAll(".ingredient-form")
        let formNum = ingredientForm.length - 1
        let ingredientFormTemplate = ingredientForm[formNum].cloneNode(true)
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_ingredient_set-TOTAL_FORMS")


        $(document).ready(function () {
            let regex = RegExp('id="id_ingredient_set-(\\d*)-ingredient', 'g')
            let iter = container.innerHTML.matchAll(regex)
            let res = iter.next()
            while (!res.done) {
                $('#id_ingredient_set-' + res.value[1] + '-ingredient').select2({
                theme: "bootstrap-5",
                width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                placeholder: 'Выберите ингредиент',
                })
                res = iter.next()
            }

        });


        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = ingredientFormTemplate.cloneNode(true)
            let formRegex = RegExp(`ingredient_set-(\\d){1}-`, 'g')

            formNum++

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `ingredient_set-${formNum}-`)

            container.insertBefore(newForm, addButton)
            totalForms.setAttribute('value', `${formNum + 1}`)

            $('#id_ingredient_set-' + formNum + '-ingredient').select2({
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: 'Выберите ингредиент',
            });
        }




</script>

{% endblock %}
