{% extends 'base.html' %}
{% load static %}
{% load new_tags %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="breadcrumb-wrapp">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</div>

<div class="form-container container">
    <hr>
    <div class="form-title mb-4">
        <h3>{{ title }}</h3>
    </div>

    <form method="post">
        {% csrf_token %}

        {{ form.management_form }}
        {{ form.non_form_errors }}
        {% for field in form %}
        <div class="form-group">
            <label class="col-form-label mt-1">{{ field.label_tag }}</label>
            {% if field.errors %}
            {{ field | add_attr:'is-invalid' }}
            {% else %}
            {{ field }}
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit" style="margin-top: 18px;">Изменить пароль</button>
    </form>
</div>

{% endblock %}