{% extends 'base.html' %}
{% load static %}
{% load new_tags %}

{% block title %}Изменить профиль{% endblock %}

{% block content %}

<div class="breadcrumb-wrapp">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</div>

<div class="form-container container">
    <hr>
    <div class="form-title mb-4">
        <h3><strong>Изменение профиля</strong></h3>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ user_form.management_form }}
        {{ user_form.non_form_errors }}

        {% for field in user_form %}
        <div class="form-group">
            <label class="col-form-label mt-1">{{ field.label_tag }}</label>
            {% if field.errors %}
            {{ field | add_attr:'is-invalid' }}
            {% else %}
            {{ field }}
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}

        {{ profile_form.management_form }}
        {{ profile_form.non_form_errors }}
        {% for field in profile_form %}
        <div class="form-group">
            <label class="col-form-label mt-1">{{ field.label_tag }}</label>
            {% if field.errors %}
            {{ field | add_attr:'is-invalid' }}
            {% else %}
            {{ field }}
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Обновить</button>
        </div>
        <div class="form-group">
            <a class="btn btn-warning ml-4" href="{% url 'change_password' %}">Изменить пароль</a>
        </div>
    </form>
</div>

{% endblock %}