{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'yummy/css/style.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="form-container container">
    <hr>
    <div class="form-title">
        <h3>{{ title }}</h3>
    </div>

    <form method="post">
        {% csrf_token %}

        {{ form.management_form }}
        {{ form.non_form_errors }}

        {% for field in form %}
        <div class="form-group">
            <label class="col-form-label mt-1">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit" style="margin-top: 18px;">Войти</button>
    </form>
    <div class="buttons-wrapp">
        <a class="btn btn-warning" href="{% url 'register' %}">Регистрация</a>
    </div>
</div>

{% endblock %}