{% extends 'base.html' %}
{% load static %}
{% block add_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}{{ request.user }}{% endblock %}

{% block content %}
<div class="breadcrumb-wrapp">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active">{{ request.user }}</li>
    </ol>
</div>

<div class="container">
    <div class="profile__container">
        <hr>
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#profile" aria-selected="false"
                   role="tab">Профиль</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#my_recipes" aria-selected="true" role="tab">Мои
                    рецепты</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#my_favourites" aria-selected="true" role="tab">Сохраненные
                    рецепты</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="profile" role="tabpanel">
                <div class="profile__wrapp">
                    <div class="profile__header">
                        <div class="wrapp__left-side">
                            <img class="profile__image" src="{{ user.profile.photo.url }}" alt="{{ user.username }}">
                            <a class="btn btn-primary recipe-button" href="{% url 'edit_profile' %}">Изменить
                                профиль</a>
                        </div>
                        <div class="wrapp__right-side">
                            <div class="profile__info">
                                <h2><strong>{{ user.username }}</strong></h2>
                            </div>
                            {% if user.profile.date_of_birth %}
                            <div class="profile__info">
                                <h6><b>Дата рождения:</b></h6>
                                {{ user.profile.date_of_birth }}
                            </div>
                            {% endif %}
                            <div class="profile__info">
                                <h6><b>Email:</b></h6>
                                {{ user.email }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade recipes__wrapp" id="my_recipes" role="tabpanel">

                {% for item in my_recipes %}
                <div class="recipe__wrapp">
                    <a href="{{ item.recipe.get_absolute_url }}">
                        <div class="card recipes__card">
                            <img src='{{ item.recipe.image.url }}' class="card-img-top" alt="recipe">
                            <div class="card-body">
                                <h5 class="card-text">{{ item.recipe | capfirst }}</h5>
                                <div class="star-rating__wrapp comment-rating card-rating">
                                    {% if item.rating %}
                                    {% for i in const_rating %}
                                    {% if i <= item.rating %}
                                    <div class="star-wrapp">
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    {% endif %}
                                    {% empty %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="wrapp__left-side" style="margin: 30px 0;">
                    <h5>Нет созданных рецептов</h5>
                </div>
                {% endfor %}

            </div>
            <div class="tab-pane fade recipes__wrapp" id="my_favourites" role="tabpanel">
                {% for item in my_favourites %}
                <div class="recipe__wrapp">
                    <a href="{{ item.recipe.get_absolute_url }}">
                        <div class="card recipes__card">
                            <img src='{{ item.recipe.image.url }}' class="card-img-top" alt="recipe">
                            <div class="card-body">
                                <h5 class="card-text">{{ item.recipe | capfirst }}</h5>
                                <img src="{% static 'img/bookmark-small.svg' %}">
                                <div class="star-rating__wrapp comment-rating card-rating">
                                    {% if item.rating %}
                                    {% for i in const_rating %}
                                    {% if i <= item.rating %}
                                    <div class="star-wrapp">
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    {% endif %}
                                    {% empty %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                {% empty %}
                <div class="wrapp__left-side" style="margin: 50px 0;">
                    <h5>Нет сохраненных рецептов</h5>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
