<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS and jQuery replacement -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>


    <!-- CSS and block CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    {% block add_css %}{% endblock %}

    <!-- Block TITLE -->
    <title>
        {% block title %}{% endblock %}
    </title>

    <meta name="description" content="Описание страницы!!!!!!! 120 - 150 символов">

</head>

<body>

<!-- Block NAVBAR -->
<div class="nav-container">
    {% include 'navbar.html' %}
</div>

<div class="main-section">

    <div class="modal" id="modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы точно хотите удалить данную запись?</p>
                </div>
                <div class="modal-footer">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-warning" name='action' value="delete">
                            <b>Удалить</b></button>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Block CONTENT -->
    <div class="content-container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <p style="font-size: 18px; margin-bottom: 0px;">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <!-- Block FOOTER -->
    <div class="footer-container">
        {% include 'footer.html' %}
    </div>
</div>

<!-- Bootstrap CSS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>