{% load static %}

<footer class="footer">
	<div class="footer__container">
		<div class="footer__logo">
				<img src="{% static 'img/Logo3.svg' %}">
		</div>
		<div class="footer__wrapper">
			<div class="footer__title">
				<p style="font-size: 18px;">Мы в соц. сетях</p>
			</div>
			<div class="footer__icons-box">
				<a href="#" class="icons__item">
					<img src="{% static 'img/facebook.svg' %}">
				</a>
				<a href="#" class="icons__item">
					<img src="{% static 'img/instagram.svg' %}">
				</a>
				<a href="#" class="icons__item">
					<img src="{% static 'img/linkedin.svg' %}">
				</a>
			</div>
		</div>
	</div>
</footer>