{% load static %}

<nav class="navbar bg-body-tertiary fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="d-flex justify-content-start align-items-center">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/Logo3.svg' %}" alt="Logo">
            </a>
        </div>
        <div class="d-inline-flex justify-content-between">
            <form action="{% url 'search_results' %}" class="d-flex search-form" role="search" method="get">
                <input class="form-control me-2" type="" placeholder="Поиск" aria-label="Search" name="q">
                <button class="btn btn-warning" type="submit">Поиск</button>
            </form>
            <div class="d-flex flex-row justify-content-between">
                {% if request.user.is_authenticated %}
                <a class="btn btn-warning add-recipe__btn left-button" href="{% url 'add_recipe' %}?next={{ request.path }}">Добавить рецепт</a>
                <div class="user__wrapp">
                    <a href="{% url 'profile' %}">
                    <img src="{{ user.profile.photo.url }}" alt="{{ user.username }}">
                    </a>
                </div>
                <a class="btn btn-warning" href="{% url 'logout' %}">Выход</a>
                {% else %}
                <a class="btn btn-warning left-button" href="{% url 'login' %}">Вход</a>
                <a class="btn btn-warning" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% for item in menu %}
                    {% if item.dropdown %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href='#' role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ item.menu_title }}
                        </a>
                        <ul class="dropdown-menu">
                            {% for drop_item in item.dropdown %}
                            {% if drop_item.dep %}
                            <li>
                                <a class="dropdown-item" href='{% url drop_item.m_url drop_item.dep %}'>
                                    {{ drop_item.name }}
                                </a>
                            </li>
                            {% elif drop_item.cntr %}
                            <li>
                                <a class="dropdown-item" href='{% url drop_item.m_url drop_item.cntr %}'>
                                    {{ drop_item.name }}
                                </a>
                            </li>
                            {% else %}
                            <li><a class="dropdown-item" href='{% url drop_item.m_url %}'>{{ drop_item.name }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href='{% url item.m_url %}'>{{ item.menu_title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://around-me.ru/">Обо мне</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>